

.search-bar
{
  display: flex;
  flex-direction: column;
}
.search-input
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5% 2%;
  /* border: 1px solid black; */
  /* margin-bottom: 1%;
  margin-right: 5%; */
} 

.back-button-1 
{
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 15px;
  border-width: 5;
  text-align: center;
  transition: all .2s ease-in;
  cursor: pointer;
  padding: 15px 25px;
}

.search-input-field {
  align-self: flex-end;
  border: 2px solid #ccc; 
  padding: 10px; 
  border-radius: 18px;
  width: 25%;
  /* margin: 1% 1%; */
  /* width: 100%;  */
}
.patient-details
{
  /* border: 5px solid red; */
  height: 80vh;
  overflow-y: auto;
  width: 100%;
  margin-left: 1%;
  /* margin: 1%; */
}
.label-pd
{
  margin: 4%;
}
.patient-details-1
{
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1%;
  /* height: 10vh; */
  width: 95%;
  margin: 1%;
}

.column-details
{
  display: flex;
  flex-direction: column;
}

.view-more
{
  align-self: flex-end;
}

.details-container
{
  width: 98%;
  /* border: 2px solid blue; */
  margin-left: 2%;
  height: 75vh;
}

.back-button
{
  margin-left: 1%;
}