@import "../../App.css";

.MuiToggleButtonGroup-root {
    width: 100%;
    justify-content: center;
    max-height: 6vh;
    .MuiToggleButton-root {
        width: 15%;
    }

    .Mui-selected {
        background-color: var(--secondary-color) !important;
        color: white !important;
        box-shadow: inset 1px 1px 15px #7d7d7d;
    }
}

.add-edit-info-button{
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 1rem
  }

.view-info-button{
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    text-decoration: underline;
    font-size: 1rem
  }

.add-icon{
    &:hover{
        transform: scale(1.2);
        transition-duration: 0.3s;
      }
}