@import "../../App.css";

.admin-ui-table h1
{
  color: var(--secondary-color);
  font-size: 2.5rem;
  /* padding: 10px; */
}

.admin-ui-table {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* .MuiBox-root .css-8javyl {
  display: flex !important;
} */