@import "../../../App.css";

.notes-doctor
{
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.notes-date
{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding:1%;
  margin: 1% 0%;
  border-radius: 10px;
}
