:root {
  --primary-color :  #E9E4D7;
  --secondary-color: #9CB189;
  --neon-color: #E5FF7E;
  --error-color: #ff0033;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.color-secondary {
    color: var(--secondary-color);
}

.input-border:focus {
  outline: 1px solid var(--secondary-color) !important;
}

.error-border {
  outline: 1px solid var(--error-color) !important;
}

.error-text {
  color: var(--error-color);
  font-size: 0.65rem;
}

.btn-filled {
  background-color: var(--secondary-color) !important;
  color: white;
  border: none;
  border-radius: 15px !important;
  border-width: 5;
  text-align: center;
  transition: all .2s ease-in;
  cursor: pointer;
  padding: 15px 25px;
  border: 1px solid transparent !important;
}

.btn-filled-disabled {
  background-color: #9999;
  color: white;
  border: none;
  border-radius: 15px;
  border-width: 5;
  text-align: center;
  transition: all .2s ease-in;
  cursor: not-allowed;
  pointer-events: none;
  padding: 15px 25px;
}

.btn-filled:hover {
  background-color: inherit !important;
  color: #404040 !important;
  border: 1px solid #404040 !important;
  box-shadow: var(--shadow);
}

.btn-outlined {
  color: #404040 !important;
  /* font-weight: 700; */
  border: 1px solid #404040 !important;
  border-radius: 15px !important;
  border-width: 5;
  text-align: center;
  transition: all .2s ease-in;
  cursor: pointer;
  padding: 15px 25px;
  width: fit-content;
}

.btn-outlined:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border: 1px solid transparent !important;
  /* border-color: none !important; */
  box-shadow: var(--shadow);
}

.btn-outlined-selected {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  box-shadow: var(--shadow);
  font-weight: 700;
  border: 1px solid #404040 !important;
  border-radius: 15px;
  border-width: 5;
  text-align: center;
  transition: all .2s ease-in;
  cursor: pointer;
  padding: 15px 25px;
  width: fit-content;
}

.btn-neon {
  background-color: var(--neon-color);
  color: black;
  border-radius: 15px;
  text-align: center;
  transition: all .2s ease-out;
  cursor: pointer;
  padding: 15px 25px;
  font-weight: 700;
}

.btn-neon:hover {
  box-shadow: var(--shadow);
}

.btn-gray
{
  background-color: gray;
  color: white;
  border-radius: 15px;
  text-align: center;
  transition: all .2s ease-out;
  cursor: pointer;
  padding: 15px 25px;
  font-weight: 700;
}
/* .btn-gray:hover {
  box-shadow: var(--shadow);
} */


.congrats-popup-content  {
  width: fit-content !important;
  border-radius: 10px;
  position: relative;
}

.order-popup-content {
  width: 70% !important;
  border-radius: 10px;
  position: relative;
}

.symptom-popup-content{
  width: 500px !important;
  border-radius: 10px;
  position: relative;
}

.css-1wvake5{
  border: none !important;
}

.profile-pic {
  border-radius: 10px;
  cursor: pointer;
  /* margin-bottom: 50px; */
}



input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #dfdede;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--secondary-color);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--secondary-color);
}

.cancel-tag{
  background-color: var(--error-color);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
}