/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body {
  height: 100%;
}


/* doctor appointment calender css inbuilt css changed here starting with .rbc */
.rbc-toolbar-label
{ 
  font-size: 150%;
  font-family: sans-serif;
}

/* .rbc-month-view
{
  background-color: aqua;
  border: 10px solid saddlebrown;
} */

.rbc-month-header
{

  /* background: rgb(59 130 246 / 0.5); */
  /* color: white;  */
  background: #d4d4d4;
  padding-top: 1%;
  font-size: 100%;
  /* border: 1px solid black;  */
  /* margin-bottom: 0.5%; */
}

/* .rbc-toolbar-label
{
  background: blueviolet;
  color: white; 
} */
.rbc-events-container 
{
  
  width:100%;
}

.rbc-timeslot-group
{
  min-height:12vh !important;
} 
.rbc-toolbar .button
{
   /* border: 0.5px solid black; */
   border: none;
   margin: 10%;
  /* background-color: rgb(59 130 246 / 0.5); */
   /* border: 2px solid black; */
}
.rbc-btn-group > button:first-child:not(:last-child) {
   border: none;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border: none;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border: none;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border: none;
}
/* .rbc-btn-group:last-child{
  display: none;
} */

.rbc-event-label
{
   display: none !important;
}

.rbc-toolbar
{
   /* background: blueviolet; */
  /* color: white;  */
  background: var(--secondary-color);
  padding: 2%;
  /* display: flex; */
  /* font-weight: bold; */
  /* flex-direction: row; */
}

body {
  margin: 0;
  font-family: 'Comfortaa', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
