@import "../../App.css";

body
{ 
   background-color: var(--primary-color);
}

.Hamburger
{
  background-color: var(--primary-color);
  /* margin-left: 20px; */
  /* border: 1px solid black; */
  padding-left: 20px;
  padding-bottom: 10px;
}
/* .Tab-section
{
  display: flex;
  /* margin: 30px; */
   /* margin-top: 60px; */


.Side-bar
{
  
   /* display: flex; */
   /* height: ; */
   height: 95vh;
   overflow-y: auto;
   /* display: flex; */
   flex-direction: column;
  /* font-size: 50rem; */
  /* color: var(--secondary-color); */
}



.Menu-item
{
  font-size: large;
  margin-top: 30px; 
  margin-bottom: 30px;
  color: white;
  /* margin-left: 2px;
  margin-right: 2px; */
}

.css-aa2pg5 >.ps-menu-button:hover{
  background-color: #777 !important;
}

.css-1t8x7v1 >.ps-menu-button:hover {
  background-color: #777 !important;
}

.Menu-item:hover {
  background-color: #777;
  
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.patient-div
{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.educate-container {
  width: 100%;
}

.educate-column-one {
  height: 70vh;
  overflow: auto;
  border-right: 1px solid;
  width: 20%;
}

.educate-column-two {
  height: 80vh;
  margin-left: 3%;
  width: 70%;
}

.educate-column-one-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

/* .educate-column-one-name:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
} */

.educate-column-one-name-active {
  background-color: var(--secondary-color);
}

.level-0 {
  padding-left: 10px;
  padding-right: 50px;
}

.level-1 {
  padding-left: 30px;
  padding-right: 50px;
}

.level-2 {
  padding-left: 78px;
  padding-right: 50px;
}

.educate-container-main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.educate-iframe {
  border-radius: 10px;
  border: none;
  margin: 30px auto;
}

.chat-container {
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
}

.chat-container-main {
  width: 92%;
    padding: 15px 50px;
    background-color: white;
    display: flex;
    height: 82vh;
}

.select-names {
  border-right: 1px solid;
  min-width: 30%;
  /* height: 68vh; */
  overflow: auto;
}

.select-names-div{
  padding: 10px 20px;
  border-bottom: 1px solid;
  border-radius: 10px 0px 0px 10px;
}

.selected-chat-view {
  display: flex;
  align-items: end;
  width: -webkit-fill-available !important;
  width: 80%;
  flex-direction: column;
}

.chat-timestamp {
  margin: 40px auto;
  width: fit-content;
  color: #666;
}

.chat-received-text {
  padding: 5px 10px;
    width: fit-content;
    max-width: 300px;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: var(--secondary-color);
    color: white;
}

.chat-time-stamp {
  position: relative;
  bottom: -3px;
  font-size: 12px;
}

.chat-sent-text {
  padding: 5px 10px;
  width: fit-content;
  border: 0.5px solid #666;
  border-radius: 5px;
  max-width: 300px;
  margin: 5px 0px 5px auto;
  position: relative;
  bottom: -3px;
}

.text-input-styled {
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #666;
  font-family: inherit;
  width: 90%;
}

.text-input-styled:focus{
  outline: none;
}

/* .selected-chat-view span{
  border-radius: 100%;
  background-color: var(--secondary-color);
  cursor: pointer;
  padding: 5px;
  color: white !important;
} */

.select-names-div {
  height: fit-content;
  display: flex;
}

.select-names-active {
  background-color: var(--secondary-color);
  color: white;
}

.select-names-div:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}