@import "../../App.css";



.hm
{
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.header
{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   /* border: 1px solid black; */
   margin-left: 20px;
}
.sidebar
{
  margin-top: 2%;
}
.care-plan
{
   /* margin-left:15px;
   margin-top: 40px; */
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
 }
.care-plan h1
{
  color: var(--secondary-color);
  font-size: 2.5rem;
  /* padding: 10px; */
}

.all-details
{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0px 10px;
   /* border: 1px solid black; */
}

.care-plan-details-patient
{
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%;
  height: 100vh; */
  /* display: flex; */
  /* flex-grow: 0.5; */
  /* flex: 1; */
  width: 40%;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: auto;
  margin: 0% 3%;
}

.care-plan-details-patient-1
{
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%;
  height: 100vh; */
  /* display: flex; */
  /* flex-grow: 0.5; */
  /* flex: 1; */
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-right: 2%;
  height: 44vh;
  width: 47%;
  overflow-y: auto;
}
/* .care-plan-details-1
{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px ;
  margin-right: 15px;
} */

.column-data
{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  /* flex: 1.5; */
  width: 60%;
  margin-right: 5%;
  /* flex-grow: 1; */
  /* width: 80%; */
  /* width: 50rem;
  height: 60rem; */
}

.row-data 
{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}


.loader-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.previous-appointment ul {
  padding: unset;
}

.previous-appointment h3 {
  margin-bottom: 0px;
}

.react-calendar-container {
  height: fit-content;
  margin: auto 50px;
  font-family: inherit !important;
}

.react-calendar {
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.react-calendar__navigation__label {
  font-family: inherit !important;
}

.react-calendar__tile {
  font-family: inherit !important;
}

.big-calendar-container .rbc-time-slot {
  background-color: white;
}

.big-calendar-container .rbc-toolbar {
  padding-top: 10px;
}

.big-calendar-container .rbc-calendar {
  border-radius: 10px;
  height: 95vh !important;
  width: 100%;
  background-color: white;
}

.big-calendar-container .rbc-btn-group {
  display: none !important;
}

.big-calendar-container .rbc-event{
  border-radius: 0% !important;
  border: none !important;
}

.big-calendar-container .rbc-event:hover {
  background-color: var(--neon-color) !important;
}

.big-calendar-container .rbc-event-label {
  display: none !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}