@import "../../App.css";


.hm
{
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.sidebar
{
  margin-top: 2%;
}
.care-plan
{
   /* margin-left:15px;
   margin-top: 40px; */
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
 }
.care-plan h1
{
  color: var(--secondary-color);
  font-size: 2.5rem;
  /* padding: 10px; */
}

.all-details
{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0px 10px;
   /* border: 1px solid black; */
}

.care-plan-details-patient
{
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%;
  height: 100vh; */
  /* display: flex; */
  /* flex-grow: 0.5; */
  /* flex: 1; */
  width: 40%;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: auto;
  margin: 0% 3%;
}

.care-plan-details-patient-1
{
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%;
  height: 100vh; */
  /* display: flex; */
  /* flex-grow: 0.5; */
  /* flex: 1; */
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-right: 2%;
  height: 47vh;
  width: 47%;
  overflow-y: auto;
}
/* .care-plan-details-1
{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px ;
  margin-right: 15px;
} */

.column-data
{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  /* flex: 1.5; */
  width: 60%;
  margin-right: 5%;
  /* flex-grow: 1; */
  /* width: 80%; */
  /* width: 50rem;
  height: 60rem; */
}

.row-data 
{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}


.loader-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.previous-appointment ul {
  padding: unset;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}